@mixin clearfix {
  &::before,
  &::after {
    content: "";
    display: table;
  }

  &::after {
    clear: both;
  }
}

@mixin container {
  width: 320px;
  padding: 0 30px;
  margin: 0 auto;


  @media (min-width: $tablet) {

    padding: 0;
    width: 668px;
  }

  @media (min-width: $desktop) {

    width: 1050px;

    &--padding-left {
      padding-left: 175px;
    }
  }
}

@mixin button($width: 100%, $height: 52px) {
  display: inline-block;
  width: $width;
  height: $height;
  padding: 16px 0;
  border: 2px solid #444444;
  font-size: $font-second-size;
  line-height: $line-second-height;
  color: $font-second-color;
  font-weight: $font-accent-weight;
  font-family: $font-basic-family;
  text-transform: uppercase;
  text-decoration: none;
  background: none;
  outline: 0;
  cursor: pointer;
}

@mixin subtitle {
  font-size: $font-accent-size;
  line-height: $line-accent-height;
  color: $font-basic-color;
  font-weight: $font-accent-weight;
  font-family: $font-second-family;
  word-spacing: -1px;

  @media (min-width: $tablet) {

    font-size: 40px;
    line-height: 50px;
  }

  @media (min-width: $desktop) {

    font-size: 50px;
    line-height: 58px;
  }
}
