// @media
$tablet: 768px;
$desktop: 1150px;

// font-size
$font-basic-size: 14px;
$font-second-size: 16px;
$font-accent-size: 24px;

// line-height
$line-basic-height: 24px;
$line-second-height: 16px;
$line-accent-height: 30px;

// font-color
$font-basic-color: #000000;
$font-second-color: #444444;
$font-accent-color: #63d1bb;

// font-weight
$font-basic-weight: normal;
$font-accent-weight: bold;

// font-family
$font-basic-family: 'Open Sans', 'Arial', sans-serif;
