html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-size: $font-basic-size;
  line-height: $line-basic-height;
  color: $font-basic-color;
  font-family: $font-basic-family;
}

.no-js {

  .main-nav--no-js {
    position: static;
    height: auto;
    overflow: visible;
  }
}

.container-center {
  @include container;
  position: relative;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
