// @media
$tablet: 768px;
$desktop: 1150px;
$retina: '(min-resolution: 144dpi), (min-resolution: 1.5dppx)';

// COLOR

$error-color:  #f0b1b1;
$accent-color: #63d1bb;

// font-size
$font-basic-size: 14px;
$font-second-size: 16px;
$font-third-size: 18px;
$font-accent-size: 24px;

// line-height
$line-basic-height: 24px;
$line-second-height: 16px;
$line-third-height: 18px;
$line-accent-height: 30px;

// font-color
$font-basic-color: #000000;
$font-second-color: #444444;
$font-accent-color: $accent-color;

// font-weight
$font-basic-weight: normal;
$font-accent-weight: bold;

// font-family
$font-basic-family: 'Open Sans', 'Arial', sans-serif;
$font-second-family: 'Verdana', 'Arial', sans-serif;
