.about-us {
  margin-top: 37px;
  margin-bottom: 24px;
}

.about-us__subtitle {
  @include subtitle;
  margin-bottom: 32px;
}

.about-us__container {
  display: flex;
  flex-direction: column;
}

.about-us__block {
  width: 100%;
}

.about-us__wrap {
  position: relative;
  padding-top: 53px;
  margin-bottom: 34px;
}

.about-us__img {
  position: absolute;
  top: 0;
  left: 0px;
}

.about-us__text {
  font-size: $font-second-size;
  line-height: $line-third-height;
  font-weight: $font-accent-weight;
  font-family: $font-second-family;
}


@media (min-width: $tablet) {

  .about-us {
    margin-top: 41px;
    margin-bottom: 22px;
  }

  .about-us__subtitle {
    margin-bottom: 50px;
  }

  .about-us__container {
    flex-direction: row;
  }

  .about-us__block {
    width: 50%;
  }

  .about-us__wrap {
    margin-bottom: 56px;
  }

  .about-us__text {
    font-size: 20px;
    line-height: $line-basic-height;
  }
}

@media (min-width: $desktop) {

  .about-us {
    margin-top: 59px;
    margin-bottom: 28px;
  }

  .about-us__block {
    width: 40%;

    &:last-child {
      width: 60%;
    }
  }
}
