.category {
  position: relative;
  font-size: $font-third-size;
  color: #ffffff;
  font-weight: $font-accent-weight;
  font-family: "Tahoma", "Arial", sans-serif;
  margin-bottom: 26px;
}

.category__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
}

.category__item {

  &:nth-child(odd) {
    background-color: #63d1bb;
  }

  &:nth-child(even) {
    background-color: #56c3b2;
  }

  &:hover {
    transform: scaleY(1.06);

    .category__link {
      transform: translateY(-5px) scaleY(0.94);
    }
  }
}

.category__link {
  display: flex;
  align-items: center;
  padding: 16px calc((100% - 260px) / 2);
  color: #ffffff;
  text-decoration: none;

  .break::before {
    content: "\A";
    white-space: pre;
  }
}


@media (min-width: $tablet) {

  .category {
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 30px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 34px;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
    }
  }

  .category__list {
    @include container;
    flex-direction: row;
  }

  .category__item {
    width: 50%;
    transition: transform 0.2s ease;

    &:hover {
      transform: translateY(-5px);

      .category__link {
        transform: translateY(-5px);
      }
    }
  }

  .category__link {
    padding: 30px 38px;
    padding-bottom: 50px;
  }
}

@media (min-width: $desktop) {

  .category {
    margin-bottom: 70px;

    &::after {
      height: 24px;
    }
  }

  .category__link {
    padding-bottom: 40px;
  }
}
