.copyright {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 24px 0;
  font-size: $font-third-size;
  line-height: $line-third-height;
  font-weight: $font-accent-weight;
  font-family: $font-second-family;
}

.copyright__link {
  display: flex;
  align-items: center;
  color: $font-basic-color;
  text-decoration: none;

  &:hover {
    color: rgba(0, 0, 0, 0.6);

    .icon__copyright {
      fill: #46c1ae;
    }
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);

    .icon__copyright {
      opacity: 0.3;
    }
  }
}


@media (min-width: $tablet) {

  .copyright {
    justify-content: flex-start;
    width: 33.3334%;
    padding: 0;
  }

  .copyright__link {
    justify-content: flex-end;
    margin-left: auto;
  }
}
