.intro {
  background-color: #f1f1f1;
  text-align: center;
  font-family: $font-second-family;

  &--main {

    .intro__title {
      padding-top: 87px;
      padding-bottom: 123px;
    }
  }

  &--image {
    background-image: url("../img/hero-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-color: #f9f9f9;
    background-position: top center;

    @media #{$retina} {
      background-image: url("../img/hero-mobile@2x.jpg");
      background-size: 575px auto;
    }
  }

  .break::before,
  .break::after {
    content: "\A";
    white-space: pre;
  }
}

.intro__title {
  padding-top: 68px;
  padding-bottom: 78px;
  margin: 0;
  font-size: $font-accent-size;
  line-height: $line-accent-height;
}

.intro__nav {
  display: none;
}


@media (min-width: $tablet) {

  .intro {

    .break::before {
      white-space: nowrap;
    }

    &--main {

      .intro__title {
        padding-top: 108px;
        padding-bottom: 495px;
      }
    }

    &--image {
      background-image: url("../img/hero-desktop@1x.jpg");

      @media #{$retina} {
        background-image: url("../img/hero-desktop@2x.jpg");
        background-size: 1150px auto;
      }
    }

    &--decor {
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-position: bottom;
    }
  }

  .intro__title {
    padding-top: 49px;
    padding-bottom: 112px;
    font-size: 40px;
    line-height: 50px;
  }

  .intro__nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 19px;
  }

  .intro__list {
    display: none;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .intro__link {

    &[href]:hover {
      color: rgba(0, 0, 0, 0.6);
    }

    &[href]:active {
      color: rgba(0, 0, 0, 0.3);
    }
  }

  .intro__text {
    letter-spacing: 0.2px;
  }
}

@media (min-width: $desktop) {

  .intro {

    &--main {

      .intro__title {
        padding-top: 108px;
        padding-bottom: 480px;
      }
    }
  }

  .intro__title {
    padding-bottom: 125px;
    font-size: 50px;
    line-height: 57px;
  }

  .intro__nav {
    justify-content: space-between;
  }

  .intro__list {
    display: block;
  }

  .intro__item {
    display: inline-block;
    margin-right: 59px;

    &:last-child {
      margin-right: 0;
    }
  }

  .intro__link {
    color: $font-basic-color;
    font-weight: $font-accent-weight;
    text-decoration: none;
  }
}
