.intro-text {
  margin-bottom: 10px;
  font-size: $font-basic-size;
  line-height: $line-basic-height;
  color: $font-second-color;
  font-weight: normal;
  font-family: $font-basic-family;
}

@media (min-width: $tablet) {

  .intro-text {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 30px;

    .break::before {
      content: "\A";
      white-space: pre;
    }
  }
}
