.logo-footer {
  display: none;
  width: 33.3334%;
}

.logo-footer__link[href] {

  &:hover {

    .icon__logo-footer {
      fill: $accent-color;
    }
  }

  &:active {
    opacity: 0.3;
  }
}


@media (min-width: $tablet) {

  .logo-footer {
    display: block;
    line-height: 0;

    a {
      display: inline-block;
      vertical-align: middle;
    }
  }
}
