.logo {
  text-align: center;

  img {
    display: inline-block;
    vertical-align: middle;
  }
}

.logo__link[href] {

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}


@media (min-width: $tablet) {

  .logo {
    z-index: 10;
    position: absolute;
    top: 20px;
    left: 0;
  }
}

@media (min-width: $desktop) {

  .logo {
    top: 7px;
    left: 50%;
    transform: translateX(-50%);
  }
}
