.offer {
  padding-bottom: 50px;
  background-image: url('../img/bg-zigzag-line.svg');
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 110%;
  color: $font-second-color;
}

.offer__wrapper {
  display: flex;
  flex-direction: column;
}

.offer__header {
  margin-bottom: 26px;
}

.offer__subtitle {
  @include subtitle;
  margin-bottom: 7px;
}

.offer__caption {
  font-size: $font-second-size;
  line-height: $line-second-height;
  color: $font-accent-color;
  font-weight: $font-accent-weight;
  text-transform: uppercase;
}

.offer__container {
  margin-bottom: 26px;
}

.offer__text {
  margin-bottom: 16px;
}

.offer__parameters {
  width: 100%;
  border-collapse: collapse;

  td {
    padding: 10px 0;
    border-bottom: 1px solid #ececec;
    line-height: 20px;
  }
}

.offer__picture {
  margin: 0;  // Обнуляем margin figure!
  margin-bottom: 24px;
}

.offer__bottom {
  text-align: center;
}

.offer__price {
  margin-bottom: 26px;
  font-size: $font-second-size;
  font-weight: $font-accent-weight;
  font-family: $font-second-family;
}


@media (min-width: $tablet) {

  .offer {
    padding-bottom: 68px;
    font-size: 16px;
    line-height: 30px;
  }

  .offer__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .offer__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 54px;
  }

  .offer__caption {
    padding: 0 30px;
    text-align: center;

    .break::before {
      content: "\A";
      white-space: pre;
    }
  }

  .offer__container,
  .offer__picture {
    width: 50%;
  }

  .offer__container {
    margin-bottom: 0;
    padding-bottom: 124px;
    padding-right: 42px;
  }

  .offer__text {
    margin-top: -8px;
    margin-bottom: 34px;
  }

  .offer__picture {
    margin-bottom: 0;
  }

  .offer__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 292px;
  }

  .offer__price {
    margin-bottom: 32px;
    font-size: 18px;
  }
}

@media (min-width: $desktop) {

  .offer {
    padding-bottom: 96px;
    background-size: auto;
  }

  .offer__header {
    position: absolute;
    top: 50px;
    left: 0;
    width: auto;
  }

  .offer__subtitle {
    padding-left: 170px;
  }

  .offer__caption {
    position: absolute;
    top: 20px;
    left: 20px;
  }

  .offer__container {
    width: 40%;
    padding-top: 156px;
    padding-right: 58px;
  }

  .offer__text {
    margin-top:  0;
    margin-bottom: 52px;
  }

  .offer__picture {
    width: 60%;
  }

  .offer__bottom {
    left: 175px;
  }
}
