.reviews-btn {
  margin-bottom: 38px;
}

.reviews-btn__btn {
  width: 50%;
  padding: 10px 0;
  border: 1px solid #ececec;
  font-size: 0;
  background: none;
  outline: none;

  &:last-child {
    margin-left: -5px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.reviews-btn__btn--prev {
  background: url("../img/icon-left-arrow.svg") no-repeat;
  background-position: center;
}

.reviews-btn__btn--next {
  background: url("../img/icon-right-arrow.svg") no-repeat;
  background-position: center;
}


@media (min-width: $tablet) {

  .reviews-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 175px;
    margin-bottom: 0;
  }

  .reviews-btn__btn {
    border: 0;

    &:last-child {
      margin-left: -5px;
    }
  }
}
