.catalog-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.catalog-item__picture {
  display: block;
  line-height: 0;
}

.catalog-item__descript {
  display: flex;
  flex-direction: column;
  padding: 0 27px;
  border: 1px solid #ececec;
}

.catalog-item__top {
  padding-top: 25px;
  padding-bottom: 15px;
  overflow: hidden;

  a {
    font-size: $font-second-size;
    color: $font-basic-color;
    font-weight: $font-accent-weight;
    font-family: $font-second-family;
    text-decoration: none;
  }

  p {
    margin: 4px 0;
    line-height: $line-accent-height;
    color: $font-second-color;
  }
}

.catalog-item__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 22px;
  padding-bottom: 25px;
  border-top: 1px solid #ececec;

  span {
    font-weight: $font-accent-weight;
    font-family: $font-second-family;
  }
}


@media (min-width: $tablet) {

  .catalog-item {
    flex-direction: row;
    margin-bottom: 54px;
  }

  .catalog-item__picture {
    flex-shrink: 0;

    img {
      width: 334px;
      height: 334px;
    }
  }

  .catalog-item__descript {
    flex-grow: 1;
    padding: 0 26px;
  }

  .catalog-item__top {

    a {
      font-size: $font-third-size;
    }

    p {
      font-size: 15px;
    }
  }

  .catalog-item__bottom {
    padding-right: 5px;
    margin-top: auto;

    span {
      font-size: $font-second-size;
    }
  }
}

@media (min-width: $desktop) {

  .catalog-item {
    flex-direction: column;
    width: 316px;
    margin-right: 51px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  .catalog-item__picture {

    img {
      width: 316px;
      height: 463px;
    }
  }

  .catalog-item__descript {
    padding: 0 27px;
  }

  .catalog-item__top {
    height: 120px;
    padding-bottom: 0;
  }
}
