.category {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  font-weight: bold;
  font-family: $font-basic-family;
  background-color: #63d1bb;
}

.category__list {
  padding: 0;
  margin: 0;
  list-style: 0;
}

.category__link {
  color: #ffffff;
  text-decoration: none;
}
