.category {
  font-size: $font-third-size;
  color: #ffffff;
  font-weight: $font-accent-weight;
  font-family: 'Tahoma', 'Arial', sans-serif;
  margin-bottom: 26px;
}

.category__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
}

.category__item {

  &:nth-child(odd) {
    background-color: #63d1bb;
  }

  &:nth-child(even) {
    background-color: #56c3b2;
  }
}

.category__link {
  @include container;
  display: block;
  padding-top: 27px;
  padding-bottom: 28px;
  color: #ffffff;
  text-decoration: none;
}


@media (min-width: $tablet) {

  .category {
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 30px;
  }

  .category__list {
    @include container;
    flex-direction: row;
  }

  .category__item {
    width: 50%;
  }

  .category__link {
    width: auto;
    padding: 30px 0;
    padding-left: 36px;
  }
}

@media (min-width: $desktop) {

  .category {
    margin-bottom: 70px;
  }
}
