.category {
  font-size: 18px;
  color: #ffffff;
  font-weight: $font-accent-weight;
}

.category__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.category__item {

  &:nth-child(odd) {
    background-color: #63d1bb;
  }

  &:nth-child(even) {
    background-color: #56c3b2;
  }
}

.category__link {
  @include container;

  display: block;
  color: #ffffff;
  text-decoration: none;
}


@media (min-width: $tablet) {

  .category {
    font-size: 20px;
    line-height: 30px;
  }

  .category__list {
    @include clearfix;
    @include container;
  }

  .category__item {
    float: left;
    width: 50%;
  }

  .category__link {
    width: auto;
    margin: auto;
  }
}
