.contacts {
  margin-top: 37px;
  line-height: $line-accent-height;
  color: $font-second-color;
}

.contacts__subtitle {
  @include subtitle;
  position: relative;
  margin-bottom: 24px;
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;
}

.contacts__item {
  display: flex;
  margin-bottom: 30px;

  a {
    border-bottom: 1px solid $accent-color;
    color: $font-second-color;
    text-decoration: none;

    &:hover {
      border-bottom-color: #46c1ae;
      color: $font-accent-color;
    }

    &:active {
      opacity: 0.3;
    }
  }

  span {
    margin-right: 30px;
  }
}

.contacts__map {
  position: relative;
  margin-bottom: 40px;

  img {
    margin: 0 auto;
  }
}


@media (min-width: $tablet) {

  .contacts {
    margin-top: 41px;
  }

  .contacts__subtitle {
    margin-bottom: 52px;
  }

  .contacts__wrapper {
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 26px;
  }

  .contacts__item {
    width: 50%;
  }

  .contacts__map {
    margin-bottom: 56px;
  }

  .contacts__btn-wrap {
    text-align: center;
  }

  .contacts__btn {
    width: 230px;
  }
}

@media (min-width: $desktop) {

  .contacts {
    @include container;
    position: relative;
    margin-top: 59px;
  }

  .contacts__subtitle {
    padding-top: 68px;
    margin-bottom: 50px;
  }

  .contacts__map {
    position: absolute;
    top: 0;
    right: 0;
    margin-bottom: 0;
  }

  .contacts__wrapper {
    flex-direction: column;
    margin-bottom: 49px;
  }

  .contacts__item {
    width: 41%;
  }

  .contacts__btn-wrap {
    text-align: left;
  }
}
