.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 24px 0;
  font-size: $font-third-size;
  line-height: $line-third-height;
  font-weight: $font-accent-weight;
  font-family: $font-second-family;
}

.copyright__link {
  display: inline-block;
  width: 27px;
  height: 35px;
  margin-left: 21px;
  font-size: 0;
  line-height: 0;
  background: url('../img/logo-htmlacademy.svg') no-repeat;
  background-position: center;
}


@media (min-width: $tablet) {

  .copyright {
    justify-content: flex-end;
    width: 33.3334%;
    padding: 0;
  }
}
