.intro {
  background-color: #f1f1f1;
  text-align: center;
  font-family: $font-second-family;

  &--main {

    .intro__title {
      padding-top: 87px;
      padding-bottom: 123px;
    }
  }

  &--image {
    background: url('../img/hero-mobile@1x.jpg') no-repeat;
    background-color: #f9f9f9;
    background-position: top center;
    // background-size: 100%;
  }

  .break::before,
  .break::after {
    content: "\A";
    white-space: pre;
  }
}

.intro__title {
  padding-top: 68px;
  padding-bottom: 78px;
  margin: 0;
  font-size: $font-accent-size;
  line-height: $line-accent-height;
}

.intro__nav {
  display: none;
}


@media (min-width: $tablet) {

  .intro {

    .break::before {
      white-space: nowrap;
    }

    &--main {

      .intro__title {
        padding-top: 108px;
        padding-bottom: 495px;
      }
    }
  }

  .intro__title {
    padding-top: 49px;
    padding-bottom: 83px;
    font-size: 40px;
    line-height: 50px;
  }

  .intro__nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 19px;
  }

  .intro__list {
    display: none;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .intro__text {
    letter-spacing: 0.2px;
  }
}

@media (min-width: $desktop) {

  .intro {

    &--main {

      .intro__title {
        padding-top: 108px;
        padding-bottom: 480px;
      }
    }
  }

  .intro__title {
    padding-bottom: 105px;
    font-size: 50px;
    line-height: 57px;
  }

  .intro__nav {
    justify-content: space-between;
  }

  .intro__list {
    display: block;
  }

  .intro__item {
    display: inline-block;
    margin-right: 59px;

    &:last-child {
      margin-right: 0;
    }
  }

  .intro__link {
    color: $font-basic-color;
    font-weight: $font-accent-weight;
    text-decoration: none;
  }
}
