.intro-text {
  font-size: 14px;
  line-height: 24px;
  color: #444444;
  font-family: $font-basic-family;
}

@media (min-width: $tablet) {

  .intro-text {

    .break::before {
      content: "\A";
      white-space: pre;
    }
  }
}
