.logo {
  text-align: center;
}

@media (min-width: $tablet) {

  .logo {
    z-index: 10;
    position: absolute;
    top: 24px;
    left: 0;
  }
}

@media (min-width: $desktop) {

  .logo {
    left: 50%;
    transform: translateX(-50%);
  }
}
