// Стилизация all-input
.main-form__input-radio,
.main-form__input-checkbox {
  display: none;
}

.main-form__input-text,
.main-form__input-tel,
.main-form__input-email {
  width: 100%;
  padding: 15px 0px;
  border: 0;
  border-bottom: 2px solid #000000;
  background: none;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  font-family: 'Verdana', 'Arial', sans-serif;
  outline: none;
}

// Стилизация textarea

.main-form__textarea {
  width: 100%;
  padding: 15px 17px;
  border: 2px solid #444444;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  font-family: 'Verdana', 'Arial', sans-serif;
  outline: none;
}

// === ===

.main-form__block {
  @include container;
  border: 0;
  margin-top: 24px;
  margin-bottom: 24px;
}

.main-form__wrapper {
  display: flex;
  flex-direction: column;
}

.main-form__title {
  position: relative;
  height: 50px;
  font-size: $font-second-size;
  line-height: $line-second-height;
  color: $font-accent-color;
  font-weight: $font-accent-weight;
  font-family: $font-basic-family;
  text-transform: uppercase;

  span {
    position: absolute;
    top: 5px;
    left: 0;
    padding-right: 24px;
    background-color: #ffffff;
  }

  &::after {
    content: "";
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid $font-accent-color;
  }
}

.main-form__field {
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }
}

.main-form__label-radio,
.main-form__label-checkbox {
  position: relative;
  display: inline-block;
  padding-left: 64px;
  line-height: 40px;

  span {
    display: inline-block;
    vertical-align: middle;
    margin-top: -4px;
    line-height: 16px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border: 2px solid #444444;
  }
}

.main-form__label-radio {

  &::before {
    border-radius: 50%;
  }
}

.main-form__input-radio:checked + .main-form__label-radio::after {
  content: "";
  position: absolute;
  top: 11px;
  left: 11px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: $font-accent-color;
}

.main-form__input-checkbox:checked + .main-form__label-checkbox::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 11px;
  width: 20px;
  height: 10px;
  border: 2px solid #000000;
  border-top: transparent;
  border-right: transparent;
  transform: rotate(-45deg);
}

.main-form__wrapper--email {
  margin-top: 24px;
}

.main-form__button-form {
  font-weight: normal;
  font-family: $font-basic-family;
}

.main-form__btn {
  margin-top: 30px;
  font-weight: bold;
}

.main-form__note {
  display: none;
}


@media (min-width: $tablet) {

  .main-form__input-text,
  .main-form__input-tel,
  .main-form__input-email {
    font-size: 18px;
    line-height: 18px;
  }

  .main-form__block {
    width: auto;
    margin: 0;
    border: 0;

    &:nth-child(even) {
      background: #f1f1f1;
    }

    &:nth-child(2) {
      margin-bottom: 0;
    }

    &--type {
      padding: 49px 0;
    }

    &--color {
      padding: 58px 0;
    }

    &--username {
      padding: 46px 0;

      .main-form__field {
        margin-bottom: 22px;
      }
    }

    &--contact {
      padding: 58px 0;

      .main-form__wrapper--email {
        margin-top: 24px;
      }
    }

    &--other {
      padding: 64px 0;
      padding-bottom: 50px;
    }
  }

  .main-form__wrapper {
    @include container;
    flex-direction: row;
  }

  .main-form__title {
    flex-shrink: 0;
    padding-top: 17px;
    width: 165px;
    height: auto;
    font-size: 18px;
    line-height: 18px;
    text-align: left;

    span {
      position: static;
      top: auto;
      left: auto;
      padding-right: 0;
      background: none;
    }

    &::after {
      display: none;
    }
  }

  .main-form__group {
    flex-grow: 1;
  }

  .main-form__field {
    margin-bottom: 24px;

    &--inline {
      display: inline-block;
      width: 260px;

      &:nth-child(even) {
      width: 230px;
      }

      &:nth-last-child(-n+2) {
        margin-bottom: 0;
      }
    }

    &--flex {
      display: flex;
      align-items: baseline;
    }
  }

  .main-form__input-radio:checked + .main-form__label-radio::after {
    top: 16px;
    left: 16px;
    width: 22px;
    height: 22px;
  }

  .main-form__input-checkbox:checked + .main-form__label-checkbox::after {
    top: 14px;
    left: 12px;
    width: 30px;
    height: 18px;
  }

  .main-form__label-text,
  .main-form__label-radio,
  .main-form__label-checkbox {
    font-size: 18px;
    line-height: 18px;
  }

  .main-form__label-radio,
  .main-form__label-checkbox {
    position: relative;
    display: inline-block;
    height: 54px;
    padding-left: 82px;
    line-height: 54px;

    &::before {
      width: 54px;
      height: 54px;
    }
  }

  .main-form__label-text {
    padding-right: 25px;
  }

  .main-form__button-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .main-form__btn {
    width: 230px;
    margin-top: 0;
  }

  .main-form__note {
    display: inline-block;
    font-size: 16px;
    line-height: 30px;
    color: $font-second-color;
  }
}

@media (min-width: $desktop) {

  .intro-text {
    padding-left: 175px;
  }

  .main-form__block--username,
  .main-form__block--contact,
  .main-form__block--other {

    .main-form__group {
      padding-right: 175px;
    }
  }

  .main-form__title {
    width: 175px;
    text-align: center;
  }

  .main-form__field {

    &--inline {
      width: 260px;

      &:nth-child(even) {
      width: 260px;
      }

      &:nth-last-child(-n+3) {
        margin-bottom: 0;
      }
    }
  }

  .main-form--wrapper {
    padding-left: 175px;
    margin-top: 30px;
  }

  .main-form__button-form {
    padding-left: 175px;
    padding-right: 175px;
    margin-top: 40px;
  }
}
