.main-nav {
  font-size: $font-second-size;
  line-height: $line-basic-height;
  font-weight:$font-accent-weight;
  background-color: #F7BE81;

  &--closed {
    height: 0;
    overflow: hidden;
  }
}

.main-nav__list {
  padding: 0;
  margin: 0;
  list-style: none;

  @include container;
}

.main-nav__link {
  color: $font-basic-color;
  text-decoration: none;
}
