.main-nav {
  z-index: 5;
  position: absolute;
  top: 75px;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  font-size: $font-second-size;
  line-height: $line-basic-height;
  font-weight: $font-accent-weight;
  font-family: $font-second-family;

  &--closed {
    height: 0;
    overflow: hidden;
  }
}

.main-nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-nav__item {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.main-nav__link {
  @include container;
  display: block;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 76px;
  color: $font-basic-color;
  text-decoration: none;

  &[href]:hover {
    background-color: #fdd;
  }
}

.main-nav__icon {
  position: absolute;
  top: 30px;
  left: 20px;
  fill: #d2d2d2;
}


@media (min-width: $tablet) {

  .main-nav {
    position: static;
    height: auto;
    overflow: visible;
    border-bottom: 1px solid #ececec;
  }

  .main-nav__list {
    @include container;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .main-nav__item {
    border-bottom: 0;

    &:nth-child(-n+2) {
      z-index: 10;
      position: absolute;
      top: 108px;
      left: 0;
      font-size: 14px;

      .main-nav__link {
        padding: 0;
      }
    }

    &:nth-child(2) {
      left: 167px;
    }

    &:nth-child(3) {
      margin-left: auto;
      font-size: 0;
      width: 84px;
      border-left: 1px solid #ececec;
      border-right: 1px solid #ececec;
    }
  }

  .main-nav__link {
    width: auto;
    margin: 0;
    padding: 32px 0;

    &--search {
      text-align: center;
    }
  }

  .main-nav__icon {
    position: static;
    vertical-align: middle;

    &--cart {
      margin: 0 38px;
      vertical-align: text-top;
    }
  }
}

@media (min-width: $desktop) {

  .main-nav__list {
    justify-content: flex-start;
  }

  .main-nav__item {

    &:nth-child(-n+2) {
      position: static;
      font-size: 16px;

      .main-nav__link {
        padding: 32px 0;
        padding-right: 36px;
      }
    }

    &:nth-child(2) {
      border-left: 1px solid #ececec;

      .main-nav__link {
        padding-left: 36px;
      }
    }
  }
}
