.making {
  display: flex;
  flex-direction: column;
  border: 1px solid #ececec;

  p {
    color: $font-second-color;
  }
}

.making__title {
  padding-left: 90px;
  margin: 22px 0;
  font-size: $font-second-size;
}

.making__video {

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.making__descript {
  padding: 0 34px;
}

.making__text {
  margin-top: 30px;
}

.making__btn {
  width: 100%;
  margin: 30px 0;
}


@media (min-width: $tablet) {

  .making__title {
    order: 1;
    padding: 0 42px;
    margin: 32px 0;
  }

  .making__video {

    img {
      height: 455px;
    }
  }

  .making__descript {
    order: 2;
    padding: 0 42px;
  }

  .making__text {
    margin-top: 14px;
  }

  .making__btn {
    margin: 46px 0;
    margin-top: 38px;
  }
}

@media (min-width: $desktop) {

  .making {
    position: relative;
    flex-direction: row;
  }

  .making__title {
    position: absolute;
    top: 102px;
    left: 762px;
    width: 122px;
    padding: 0;
  }

  .making__video {

    img {
      width: 682px;
      height: 455px;
    }
  }

  .making__descript {
    padding-top: 186px;
    padding-left: 80px;
    padding-right: 54px;
  }

  .making__btn {
    margin-top: 50px;
  }
}
