.making {
  display: flex;
  flex-direction: column;
  border: 1px solid #ececec;

  p {
    color: $font-second-color;
  }
}

.making__title {
  padding: 23px 0;
  padding-left: 90px;
  font-size: $font-second-size;
  font-family: 'Verdana', 'Arial', sans-serif;
}

.making__video {
  line-height: 0;
}

.making__descript {
  padding: 0 34px;
  padding-top: 25px;
}

.making__text {
  margin: 4px 0;
}

.making__btn {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 33px;
}


@media (min-width: $tablet) {

  .making__title {
    order: 1;
    padding: 0 10px;
    padding-left: 106px;
    margin: 23px 0;
    margin-top: 38px;
    font-size: 18px;
  }

  .making__video {

    img {
      width: 100%;
      height: 455px;
    }
  }

  .making__descript {
    order: 2;
    padding: 0 41px;
  }

  .making__text {
    margin-top: 10px;
    font-size: 16px;
    line-height: 30px;
  }

  .making__btn {
    margin: 45px 0;
    margin-top: 30px;
  }
}

@media (min-width: $desktop) {

  .making {
    position: relative;
    flex-direction: row;
  }

  .making__title {
    position: absolute;
    top: 98px;
    left: 759px;
    width: 122px;
    padding: 0;
    margin: 0;
  }

  .making__video {
    flex-shrink: 0;

    img {
      width: 682px;
    }
  }

  .making__descript {
    padding-top: 170px;
    padding-left: 78px;
    padding-right: 50px;
  }

  .making__btn {
    width: 230px;
    margin-top: 41px;
  }
}
