.making {
  display: flex;
  flex-direction: column;
  border: 1px solid #ececec;

  p {
    color: $font-second-color;
  }
}

.making__title {
  padding: 23px 0;
  padding-left: 34px;
  font-size: $font-second-size;
  font-family: $font-second-family;

  span {
    display: inline-block;
    width: 132px;
  }
}

.making__video {
  position: relative;
  line-height: 0;
  cursor: pointer;
}

.making__icon {

  &--video {
    margin-right: 18px;
  }

  &--play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.making__descript {
  padding: 0 34px;
  padding-top: 25px;
}

.making__text {
  margin: 4px 0;
}

.making__btn {
  margin-top: 20px;
  margin-bottom: 33px;
}


@media (min-width: $tablet) {

  .making__title {
    order: 1;
    padding: 0 10px;
    padding-left: 41px;
    margin: 23px 0;
    margin-top: 38px;
    font-size: $font-third-size;

    span {
      width: auto;
    }
  }

  .making__icon {

    &--video {
      margin-top: -8px;
      margin-right: 26px;
      vertical-align: middle;
    }
  }

  .making__descript {
    order: 2;
    padding: 0 41px;
  }

  .making__text {
    margin-top: 10px;
    font-size: $font-second-size;
    line-height: $line-accent-height;
  }

  .making__btn {
    margin: 45px 0;
    margin-top: 30px;
  }
}

@media (min-width: $desktop) {

  .making {
    position: relative;
    flex-direction: row;
  }

  .making__title {
    position: absolute;
    top: 46px;
    left: 759px;
    width: 122px;
    padding: 0;
    margin: 0;
  }

  .making__video {
    flex-shrink: 0;
  }

  .making__icon {

    &--video {
      margin-bottom: 16px;
    }
  }

  .making__descript {
    padding-top: 170px;
    padding-left: 78px;
    padding-right: 50px;
  }

  .making__btn {
    width: 230px;
    margin-top: 41px;
  }
}
