.offer {
  color: $font-second-color;
  background-color: #FE2E2E;
}

.offer__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.offer__header {
  margin-bottom: 30px;
  background: #87CEFA;
}

.offer__subtitle {
  @include subtitle;
}

.offer__caption {
  font-size: $font-second-size;
  line-height: $line-second-height;
  color: $font-accent-color;
  font-weight: $font-accent-weight;
  text-transform: uppercase;
}

.offer__container {
  background: #CD853F;
}

.offer__text {
  margin-bottom: 30px;
}

.offer__picture {
  margin: 0;

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.offer__bottom {
  text-align: center;
  background: #00CED1;
}

.offer__price {
  font-size: $font-second-size;
  font-weight: $font-accent-weight;
}


@media (min-width: $tablet) {

  .offer__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .offer__header {
    width: 100%;
  }

  .offer__container,
  .offer__picture {
    width: 50%;
  }

  .offer__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
