.page-header {
  position: relative;
  margin-bottom: 30px;
  background-color: #ffffff;
}

.page-header__top {
  padding: 16px 0;
  border-bottom: 1px solid #ececec;
}

.page-header__toggle {
  position: absolute;
  top: 10px;
  right: 30px;
  width: 20px;
  height: 14px;
  border: 0;
  background: none;
  font-size: 0;
  line-height: 0;
  outline: 0;

  &::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    margin: 6px 0;
    background-color: #000000;
    box-shadow: 0px 6px #000000,
                0px -6px #000000;
  }

  &--open {

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      display: block;
      width: 20px;
      height: 2px;
      margin: 6px 0;
      background-color: #000000;
      transform: rotate(-45deg);
    }
  }
}


@media (min-width: $tablet) {

  .page-header {
    margin-bottom: 79px;
  }

  .page-header__top {
    height: 0;
    padding: 0;
    border: 0;
  }

  .page-header__toggle {
    display: none;
  }
}

@media (min-width: $desktop) {

  .page-header {
    margin-bottom: 128px;
  }
}
