.reviews {
  margin-bottom: 50px;
  line-height: $line-accent-height;
}

.reviews__subtitle {
  @include subtitle;
  margin-bottom: 24px;
}

.reviews__wrap {
  margin-bottom: 28px;
}

.reviews__author {
  display: block;
  margin-top: 16px;
  font-style: normal;
}

.reviews__author-name {
  line-height: $line-basic-height;
}


@media (min-width: $tablet) {

  .reviews {
    padding-top: 74px;
    padding-bottom: 66px;
    margin-bottom: 85px;
  }

  .reviews__subtitle {
    margin-bottom: 50px;
  }

  .reviews--image {
    background: url('../img/review@1x.jpg') no-repeat;
  }

  .reviews__slider {
    position: relative;
  }

  .reviews__text {
    font-size: $font-second-size;
  }

  .reviews__author {
    margin-top: 8px;
    width: 308px;
    font-size: $font-second-size;
  }

  .reviews__btn {
    position: absolute;
    top: 5px;
    right: 0;
    width: 175px;
  }
}

@media (min-width: $desktop) {

  .reviews {
    padding: 0;
    margin-bottom: 90px;
  }

  .reviews--image {
    background: none;
  }

  .reviews__image {
    padding-top: 68px;
    padding-bottom: 64px;
    background: url('../img/review@1x.jpg') no-repeat;
  }

  .reviews__subtitle {
    margin-bottom: 50px;
  }

  .reviews__text {
    padding-right: 168px;
  }

  .reviews__btn {
    position: absolute;
    top: 78px;
    right: 0;
    width: 175px;
  }
}
