.reviews {
  line-height: $line-accent-height;
}

.reviews__subtitle {
  @include subtitle;
}

.reviews__author {
  font-style: normal;
}

.reviews__author-name {
  line-height: $line-basic-height;
}
