.social-link {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 25px 0;
  border-bottom: 1px solid #e5e5e5;
}

.social-link__item {
  display: inline-block;
  width: 26px;
  height: 35px;
  margin: 0 15px;
  font-size: 0;

  &--in {
    background: url('../img/icon-insta.svg') no-repeat;
    background-position: center;
  }

  &--fb {
    background: url('../img/icon-fb.svg') no-repeat;
    background-position: center;
  }

  &--tw {
    background: url('../img/icon-twitter.svg') no-repeat;
    background-position: center;
  }
}


@media (min-width: $tablet) {

  .social-link {
    width: 33.3334%;
    padding: 0;
    border: 0;
  }
}
